.products {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(3, max-content);
}

.featured-products h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.featured-products {
  margin-top: 40px;
}

// .featured-products .featured-product {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   width: 320px;
//   height: 155px;
// }

// .featured-products .featured-product .product-photo {
//   width: 158px;
//   height: 158px;
// }

// .featured-products .featured-product .product-description .products-rating .star {
//   color: #c1c8ce;
// }

// .featured-products .featured-product .product-description .products-rating .star::before {
//   content: "\2605";
// }

// .featured-products .featured-product .product-description .products-rating .star.active {
//   color: #ffc600;
// }

// .featured-products .featured-product .product-description .products-title {
//   font-size: 14px;
//   margin: 10px 0;
// }

// .featured-products .featured-product .product-description .price {
//   color: #ff4858;
//   margin-top: 12px;
// }

// .featured-products .featured-product .product-description .price::after {
//   content: "$599";
//   color: #c1c8ce;
//   text-decoration: line-through;
//   margin-left: 10px;
// }

// @media (max-width: 500px) {
//   .featured-products {
//     width: 100%;
//   }

//   .featured-products .featured-product img {
//     display: none;
//   }
// }