.top-gadgets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 33.33%));
  margin-top: -55px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  height: 0;
  padding-bottom: 72%; // 100% - это квадрат
  background: #eee;

  &__title {
    background-color: green;
  }

  &__text {
    display: none;
  }

  &__price {
    display: none;
  }

  &__image {
    position: absolute;
  }
}

.card:nth-child(1) {
  background-color: #ff6875;

  .card__image {
    width: 75%;
    right: 0;
    bottom: 0;
  }
}

.card:nth-child(2) {
  background-color: #f6f7f8;

  .card__image {
    width: 70%;
    height: 100%;
    left: 15%;
    bottom: 10px;
  }
}

.card:nth-child(3) {
  background-color: #c1c8ce;

  .card__image {
    width: 50%;
    right: 7%;
    bottom: 9%;
  }
}

@media (max-width: 1170px) {
  .top-gadgets {
    margin-top: 0;
  }
}