.advantages {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(3, max-content);
  margin: 40px 40px 0 40px;

  &__item {
    text-align: center;
    padding: 20px 10%;
    border: 0.5px solid #eee;
  }
}


@media (max-width: 550px) {
  .advantages {
    grid-template-columns: 100%;
    margin: 40px 10px 0 10px;
  }
}