.bestseller {
  margin-top: 100px;
  justify-content: center;
}

.nav_bestseller {
  width: 478px;
  margin-bottom: 16px;
}

.products {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  /* sass компилятор не понимает repeat() */
  grid-gap: 30px;
}

.load-link {
  display: block;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  margin: 80px auto 0 auto;
  width: max-content;
  line-height: 25px;
  color: #33a0ff;
  border-bottom: 3px solid #33a0ff;
}

.product-card {
  width: 270px;
  padding: 38px 0 30px 0;
  height: 348px;
  border: 4px solid #f6f7f8;
  text-align: center;
  position: relative;
}

.product-card .hot-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 40px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ff4858;
  color: #fff;
  border-radius: 3px;
}

.product-card .product-image {
  width: 256px;
  height: 153px;
}

.product-card .product-controls {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 38px;
  right: 0;
  bottom: 146px;
  left: 0;
}

.product-card .product-controls .like,
.product-card .product-controls .add-to-cart {
  width: 46px;
  height: 46px;
  border: 2px solid rgba(51, 160, 255, 0.3);
  border-radius: 50%;
  margin: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.product-card .product-title {
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
}

.product-price {
  color: #ff4858;
  margin-top: 12px;
}

.product-price .old-price {
  display: inline;
  color: #c1c8ce;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-card:hover {
  cursor: pointer;
  /* это можно использовать для ВСЕХ карточек */
}

.product-card:hover .product-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.product-rating {
  margin-top: 29px;
}

.product-rating .star {
  color: #c1c8ce;
}

.product-rating .star::before {
  content: "\2605";
}

.product-rating .star.active {
  color: #ffc600;
}
