header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dadada;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

// .carousel,
// .top-gadgets,
// .bestseller,
.main-offer,
.advantages,
.latest-news,
.featured-products,
.search,
footer {
  display: none !important;
}