header {
  display: flex;
  flex-direction: column;
  height: 216px;
}

.topbar {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #fafafb;
}

.topbar .controls-left,
.topbar .controls-right {
  display: flex;
  align-items: center;
  line-height: 47px;
}

.topbar .cart-controls {
  display: inherit;
}

.topbar .lang {
  margin-right: 20px;
}

.topbar .profile-link,
.topbar .cart-link {
  display: inherit;
  font-weight: 600;
}

.profile-link,
.cart-link {
  font-size: 14px;
  text-decoration: none;
  color: #26262a;
  margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
  margin-right: 10px;
}

.cart-controls {
  margin-right: 58px;
}

.cart-link,
.profile-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 10px;
}

.cart-link:hover,
.profile-link:hover,
.cart-link:focus,
.profile-link:focus {
text-decoration: none;
}

.cart-total {
  opacity: 0.5;
  margin-left: 10px;
  font-size: 14px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-link {
  font-weight: 600;
  text-decoration: none;
  color: #26262a;
  font-size: 14px;
}

.nav_main {
  width: 660px;
  text-transform: uppercase;
}

.nav_main .active {
  color: #33a0ff;
}
