.grid {
  display: grid;
}

header {
  display: flex;
  flex-direction: column;
  height: 216px;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-link {
  font-weight: 600;
  text-decoration: none;
  color: #26262a;
  font-size: 14px;
}

.nav_main {
  width: 660px;
  text-transform: uppercase;
}

.nav_main .active {
  color: #33a0ff;
}

footer {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* sass компилятор не понимает repeat() */
  grid-template-rows: 1fr 250px 93px;
  grid-column-gap: 80px;
}

footer .block-one {
  grid-column: 1 / 3;
  color: #22262a;
}

footer .block-two {
  grid-column: 3 / 5;
  margin-top: 10px;
  color: #22262a;
}

footer .block-two .social {
  margin-right: 40px;
}

footer .block-three {
  grid-column: 5 / 7;
  margin-top: 10px;
  color: #22262a;
}

footer .links {
  align-self: center;
}

footer .links b {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  color: #22262a;
}

footer .links a {
  display: block;
  color: #26262a;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10px;
}

.bottom-line {
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
  align-items: center;
}

.bottom-line .copy {
  font-size: 14px;
  color: #c1c8ce;
}
