.logo {
    display: block;
    margin: 50px auto;
    text-align: center;
}

@media (max-width: 700px) { // не трогать!!!
    .logo {
        position: absolute;
        top: 0;
        margin: 0 0 0 20px;
        height: 50px;
        width: 100px;
    } 
}