.carousel {
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
}

.slide {
  position: relative;
  display: flex;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.2);
}

.slide__description {
  width: 50%;
  padding-top: 161px;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
  background-color: orange;
}

.slide__image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.slide__title {
  font-weight: bold;
  font-size: 36px;
}

.slide__text {
  margin: 40px 0;
  line-height: 22px;
  font-size: 14px;
}

.slide__link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-bottom: 3px solid white;
}

@media (max-width: 1023px) {

    .carousel {
        flex-direction: column;
    }

    .slider > img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        text-align: center;
        width: 270px;
    }

    .slide__description {
        padding-top: 270px;
        padding-left: 30px;
        padding-right: 30px;
    }
}