.carousel {
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
}

.slide {
  position: relative;
  display: flex;
  height: 650px;
}

.slide__description {
  width: 40%;
  padding-top: 161px;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
}

.slide__image {
  width: 60%;
  align-self: flex-end;
}

.slide__title {
  font-weight: bold;
  font-size: 36px;
}

.slide__text {
  margin: 40px 0;
  line-height: 22px;
  font-size: 14px;
}

.slide__link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-bottom: 3px solid white;
}

@media (max-width: 1170px) {
  .carousel {
    flex-direction: column;
  }

  .slide {
    height: 450px;
  }

  .slide__description {
    width: 40%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .slide__image {
    width: 60%;
    height: 450px;
  }
}

@media (max-width: 700px) {

    .slide {
        height: 450px;
    }

    .slide__description,
    .slide__image {
        width: 100%;
    }

    .slide__description {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: max-content;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
