.main-offer-container {
  background-color: #2e90e5;
  margin: 10px 0;
}

.banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(3, max-content);
  position: relative;
  height: 600px;
}

.banner__image {
  background-color: yellow;
  height: inherit;
  position: relative;

  img {
    width: 100%;
    height: 115%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.banner__description {
  height: inherit;

  h2 {
    display: inline-block;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
  }

  p {
    line-height: 22px;
    font-size: 14px;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: white;
    border-bottom: 3px solid white;
  }
}

@media (max-width: 1170px) {
  // .banner {
  //   height: 400px;
  // }

  // .banner__image {
  //   width: 50%;
  //   height: 490px;
  // }
}

@media (max-width: 590px) {
//   .slide {
//     height: 350px;
//   }

//   .slide__image {
//     padding-left: 5%;
//   }
}
